.fixed-createpost-button {
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  border-color: #2c3133;
  z-index: 10;
}

.add-post-button {
  fill: #ff3366;
  opacity: 0.8;
  width: 13vw;
  height: 13vh;
}

.main-categories {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  border-bottom: 1px solid #747474;
  text-align: left;
  background-color: #ababab;
  z-index: 10;
}
.sticky {
  position: sticky;
  top: -1.2vh;
}

.categoryNames {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.fireSvg {
  color: #ff4e33;
  font-size: 4rem;
  text-align: center;
}

.fireButton {
  background-color: white;
  width: 9vw;
  height: 9vw;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  top: 15px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.fireButton:hover {
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737;
  z-index: 10;
  .fireSvg {
    color: white;
  }
}

.headerButtons {
  background-color: white;
  width: 7vw;
  height: 7vw;
  position: relative !important;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  top: 15px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.beta-tag {
  position: absolute;
  top: 70%;
  color: white;
  left: -2%;
  background-color: #ff4e33;
  padding: 10% 4 0%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(0deg);
}

.betaText {
  position: absolute;
}

.headerSvg {
  color: black;
  text-shadow: 3px 6px #272634;
  font-size: 2.5rem;
  text-align: center;
  text-align: left;
}
.headerButtons:hover,
.headerButtons.active {
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737;
  .headerSvg {
    color: white;
  }
}

.submit-application {
  background-color: white;
  padding: 2% 12%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  border: none;
  display: block;
  margin: 15vh auto;
  cursor: pointer;
}

.submit-application:hover {
  color: white;
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737;
}

@media only screen and (max-width: 1024px) {
  .fireButton {
    width: 12vw;
    height: 12vw;
  }
  .headerButtons {
    width: 8vw;
    height: 8vw;
  }
  .fireSvg {
    font-size: 3rem;
  }
  .headerSvg {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 440px) {
  .fireButton {
    width: 18vw;
    height: 18vw;
  }
  .fireSvg {
    font-size: 2.5rem;
  }
  .headerSvg {
    font-size: 1.5rem;
  }
  .headerButtons {
    width: 12vw;
    height: 12vw;
  }
  .displayNone {
    display: none;
  }
}
