.main-items {
  height: auto;
}
.itemList {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}
.submit-application {
  margin-bottom: 20px;
}

.post-button {
  margin-top: 20px;
}

.item-home-image {
  height: 100px;
}

.items-grid {
  grid-column: center-start / center-end;
  margin: 7rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin-left: 6vw;
  margin-right: 6vw;
  background-color: #f2f2f2;
}
.item__img {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.item {
  background-color: #f6f4f2;
  border-radius: 10px;
  border: 0.1% solid $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    border-radius: 10px 10px 0px 0px;
    grid-column: 1/-1;
  }

  &__name {
  }

  &__location {
    grid-column: 1/-1;
    text-align: center;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 3%;
  }

  &__title {
    text-align: center;
    grid-column: 1/-1;
    background-color: white;
    padding: 1rem;
    width: 80%;
    margin-left: 10%;
  }

  &__price {
    grid-column: 1/-1;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #0f0f67;
    color: white;
    font-weight: 400;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    width: 80%;
    margin-left: 10%;
  }
  &__description {
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 20%;
  }
  &__condition {
    background-color: white;
    text-align: left;
    width: 80%;
  }

  &__show {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.25rem;
    background-color: #009966;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 10px rgba(37, 112, 4, 0.798);
  }
  &__show:hover {
    background-color: darken(#009966, 5%);
  }
}
.item.details {
  margin-top: 1vh;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  border: 0.1% solid $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item.details:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
