.main-items {
  height: auto;
}
.itemList {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}

.post-button {
  margin-top: 20px;
}

.item-home-image {
  height: 100px;
}

.items-grid {
  grid-column: center-start / center-end;
  margin: 8.5rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin-left: 6vw;
  margin-right: 6vw;
}
.item__img {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.uploaded {
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.priority-tag {
  position: absolute;
  top: 20px;
  left: -50px;
  background-color: #ff4e33;
  padding: 10px 80px;
  transform: rotate(-45deg);
  transform-origin: center;
  color: white;
  font-size: 18px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  letter-spacing: 2px;
}

.item {
  overflow: hidden;
  position: relative;
  background-color: #f6f4f2;
  border-radius: 10px;
  border: 0.1% solid $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    border-radius: 10px 10px 0px 0px;
    grid-column: 1/-1;
  }

  &__name {
  }

  &__location {
    grid-column: 1/-1;
    text-align: center;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 3%;
  }

  &__title {
    text-align: center;
    grid-column: 1/-1;
    background-color: white;
    width: 80%;
    margin-left: 10%;
  }

  &__price {
    grid-column: 1/-1;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #0f0f67;
    color: white;
    font-weight: 400;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    width: 80%;
    margin-left: 10%;
  }
  &__description {
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 20%;
  }
  &__condition {
    background-color: white;
    text-align: left;
    width: 80%;
  }

  &__email {
    text-align: center;
    padding: 2%;
    width: 40%;
    margin-left: 20%;
    background-color: #385edd;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &__email:hover {
    background-color: darken(#385edd, 5%);
  }
  &__addCredits {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #385edd;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &__addCredits:hover {
    background-color: darken(#385edd, 5%);
  }

  &__delete {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #9f0000;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &__delete:hover {
    background-color: darken(#9f0000, 5%);
  }

  &__highPriority {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #ff4e33;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  &__highPriority:hover {
    background-color: darken(#ff4e33, 5%);
  }

  &__setHighPriority {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #96d403;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &__setHighPriority:hover {
    background-color: darken(#96d403, 5%);
  }

  &__call {
    text-align: center;
    padding: 2%;
    width: 40%;
    margin-left: 40%;
    background-color: #96d403;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &__call:hover {
    background-color: darken(#96d403, 5%);
  }

  &__show {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.25rem;
    background-color: #009966;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 10px rgba(37, 112, 4, 0.798);
  }
  &__show:hover {
    background-color: darken(#009966, 5%);
  }
}
.item.details {
  margin-top: 1vh;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  border: 0.1% solid $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item.details:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.descSvg {
  margin-left: 1vw;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 440px) {
  .item.details {
    margin-left: 0%;
    margin-right: 0%;
  }
  .item__setHighPriority {
    width: 70%;
  }
  .item__delete {
    width: 70%;
    margin-left: 10%;
  }
  .item__call {
    width: 60%;
    margin-left: 20%;
    padding: 4%;
  }
  .item__email {
    width: 60%;
    margin-left: 20%;
    padding: 4%;
  }
}
