.item-creator-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid black;
  margin: 0 15vw 0 15vw;
}

.desc__title {
  grid-column: 1/-1;
  text-align: center;
  width: 80%;
  background-color: white;
  margin-left: 10%;
  border-radius: 10px 10px 0px 0px;
  padding: 1.25rem;
  position: relative;
}
.desc__price {
  grid-column: 1/-1;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #0f0f67;
  color: white;
  font-weight: 400;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
  width: 80%;
  margin-left: 10%;
}

.desc__test-map {
  grid-column: 1/-1;
}

.desc {
  background-color: #f6f4f2;
  border-radius: 10px;
  border: 0.1% solid $color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.desc_image {
  max-width: 100%;
  max-height: 100%;
}

.desc__leftElement {
  background-color: white;
  text-align: center;
  width: 80%;
  margin-left: 20%;
}

// .main-description {
//   margin: 2vh;
//   margin-left: 20vw;
//   margin-right: 20vw;
//   border-radius: 10px 10px 10px 0px;
// }
.main-description {
  position: relative;
}
.delete-button {
  position: absolute;
}

.image_description {
  margin: 0 auto;
}

.carousel.carousel-slider {
  margin: 0 auto !important;
}

@media only screen and (max-width: 420px) {
  .desc_images_grid {
    display: block;
  }
}
