*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #5d5d5d;
  font-weight: 400;
  line-height: 1.6;
  background-color: #dfdfdf; }

a {
  text-decoration: none;
  color: inherit; }

.header {
  background-color: white;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid red;
  font-size: 1rem;
  font-weight: 800; }
  .header .search {
    margin-left: -8vw;
    border-radius: 5px;
    width: 30vw;
    color: grey;
    padding: 0.7rem 2rem;
    background-color: #f4f2f2; }
  .header .headerCategories {
    font-size: 1.5rem; }
  .header .headerCategories:hover {
    border-bottom: 2px solid yellow; }
  .header .logo {
    width: 4rem;
    height: auto;
    margin-left: -2rem;
    align-items: center;
    margin-right: 3vw; }
  .header .logoFont {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    color: black;
    text-decoration: underline solid yellow; }

@media only screen and (max-width: 420px) {
  .header .logoFont {
    font-size: 2rem; }
  .header .headerCategories {
    font-size: 1rem; }
  .header .search {
    display: none; } }

.main-items {
  height: auto; }

.itemList {
  border-style: solid;
  border-width: 2px;
  margin: 10px; }

.post-button {
  margin-top: 20px; }

.item-home-image {
  height: 100px; }

.items-grid {
  grid-column: center-start / center-end;
  margin: 8.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin-left: 6vw;
  margin-right: 6vw; }

.item__img {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto; }

.priority-tag {
  position: absolute;
  top: 20px;
  left: -50px;
  background-color: #ff4e33;
  padding: 10px 80px;
  transform: rotate(-45deg);
  transform-origin: center;
  color: white;
  font-size: 18px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  letter-spacing: 2px; }

.item {
  overflow: hidden;
  position: relative;
  background-color: #f6f4f2;
  border-radius: 10px;
  border: 0.1% solid #5d5d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .item__img {
    border-radius: 10px 10px 0px 0px;
    grid-column: 1/-1; }
  .item__location {
    grid-column: 1/-1;
    text-align: center;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 3%; }
  .item__title {
    text-align: center;
    grid-column: 1/-1;
    background-color: white;
    width: 80%;
    margin-left: 10%; }
  .item__price {
    grid-column: 1/-1;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #0f0f67;
    color: white;
    font-weight: 400;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    width: 80%;
    margin-left: 10%; }
  .item__description {
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 20%; }
  .item__condition {
    background-color: white;
    text-align: left;
    width: 80%; }
  .item__email {
    text-align: center;
    padding: 2%;
    width: 40%;
    margin-left: 20%;
    background-color: #385edd;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .item__email:hover {
    background-color: #254ed7; }
  .item__addCredits {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #385edd;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .item__addCredits:hover {
    background-color: #254ed7; }
  .item__delete {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #9f0000;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .item__delete:hover {
    background-color: #860000; }
  .item__highPriority {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #ff4e33;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .item__highPriority:hover {
    background-color: #ff381a; }
  .item__setHighPriority {
    text-align: center;
    padding: 2%;
    width: 60%;
    margin-left: 20%;
    background-color: #96d403;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .item__setHighPriority:hover {
    background-color: #84bb03; }
  .item__call {
    text-align: center;
    padding: 2%;
    width: 40%;
    margin-left: 40%;
    background-color: #96d403;
    margin-bottom: 1vh;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .item__call:hover {
    background-color: #84bb03; }
  .item__show {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.25rem;
    background-color: #009966;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 10px rgba(37, 112, 4, 0.798); }
  .item__show:hover {
    background-color: #008055; }

.item.details {
  margin-top: 1vh;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  border: 0.1% solid #5d5d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.item.details:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }

.descSvg {
  margin-left: 1vw; }

.display-none {
  display: none; }

@media only screen and (max-width: 440px) {
  .item.details {
    margin-left: 0%;
    margin-right: 0%; }
  .item__setHighPriority {
    width: 70%; }
  .item__delete {
    width: 70%;
    margin-left: 10%; }
  .item__call {
    width: 60%;
    margin-left: 20%;
    padding: 4%; }
  .item__email {
    width: 60%;
    margin-left: 20%;
    padding: 4%; } }

.fixed-createpost-button {
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  border-color: #2c3133;
  z-index: 10; }

.add-post-button {
  fill: #ff3366;
  opacity: 0.8;
  width: 13vw;
  height: 13vh; }

.main-categories {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  border-bottom: 1px solid #747474;
  text-align: left;
  background-color: #ababab;
  z-index: 10; }

.sticky {
  position: sticky;
  top: -1.2vh; }

.categoryNames {
  color: white;
  font-size: 1.5rem;
  text-align: center; }

.fireSvg {
  color: #ff4e33;
  font-size: 4rem;
  text-align: center; }

.fireButton {
  background-color: white;
  width: 9vw;
  height: 9vw;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  top: 15px;
  border: none;
  cursor: pointer;
  z-index: 10; }

.fireButton:hover {
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737;
  z-index: 10; }
  .fireButton:hover .fireSvg {
    color: white; }

.headerButtons {
  background-color: white;
  width: 7vw;
  height: 7vw;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  top: 15px;
  border: none;
  cursor: pointer; }

.headerSvg {
  color: black;
  text-shadow: 3px 6px #272634;
  font-size: 2.5rem;
  text-align: center;
  text-align: left; }

.headerButtons:hover,
.headerButtons.active {
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737; }
  .headerButtons:hover .headerSvg,
  .headerButtons.active .headerSvg {
    color: white; }

.submit-application {
  background-color: white;
  padding: 2% 12%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 5px solid #eee;
  position: relative;
  border: none;
  display: block;
  margin: 15vh auto;
  cursor: pointer; }

.submit-application:hover {
  color: white;
  background-color: #ff4e33;
  box-shadow: inset 0px 0px 10px #373737; }

@media only screen and (max-width: 1024px) {
  .fireButton {
    width: 12vw;
    height: 12vw; }
  .headerButtons {
    width: 8vw;
    height: 8vw; }
  .fireSvg {
    font-size: 3rem; }
  .headerSvg {
    font-size: 2rem; } }

@media only screen and (max-width: 440px) {
  .fireButton {
    width: 18vw;
    height: 18vw; }
  .fireSvg {
    font-size: 2.5rem; }
  .headerSvg {
    font-size: 1.5rem; }
  .headerButtons {
    width: 12vw;
    height: 12vw; } }

.gm-style .gm-style-iw {
  font-weight: 300;
  font-size: 8px;
  overflow: hidden; }

.item-creator-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid black;
  margin: 0 15vw 0 15vw; }

.desc__title {
  grid-column: 1/-1;
  text-align: center;
  width: 80%;
  background-color: white;
  margin-left: 10%;
  border-radius: 10px 10px 0px 0px;
  padding: 1.25rem;
  position: relative; }

.desc__price {
  grid-column: 1/-1;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #0f0f67;
  color: white;
  font-weight: 400;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
  width: 80%;
  margin-left: 10%; }

.desc__test-map {
  grid-column: 1/-1; }

.desc {
  background-color: #f6f4f2;
  border-radius: 10px;
  border: 0.1% solid #5d5d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.desc_image {
  max-width: 100%;
  max-height: 100%;
  min-height: 300px;
  background-image: url("https://s3.envato.com/files/222431529/Uploading%20Logo%20Reveal%20PREVIEW%20IMAGE.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center; }

.desc__leftElement {
  background-color: white;
  text-align: center;
  width: 80%;
  margin-left: 20%; }

.main-description {
  position: relative; }

.delete-button {
  position: absolute; }

.image_description {
  margin: 0 auto; }

.carousel.carousel-slider {
  margin: 0 auto !important;
  width: 60% !important; }

@media only screen and (max-width: 420px) {
  .desc_images_grid {
    display: block; }
  .carousel.carousel-slider {
    width: 100% !important; } }

.profile-grid {
  grid-column: center-start / center-end;
  margin: 7rem 0;
  display: grid;
  grid-gap: 4rem;
  margin-left: 30vw;
  margin-right: 30vw;
  background-color: #878686;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  grid-column: 1/-1;
  font-size: 1.6rem;
  padding: 2vh 5vw; }

.profile-item {
  position: relative;
  background-color: #ededed;
  border-radius: 10px;
  border: 0.1% solid #5d5d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1%;
  display: grid;
  grid-column: 1/-1;
  text-align: center;
  font-size: 1.5rem; }

.credits {
  display: inline; }

.fire {
  color: #ff4e33; }

.circle-profile {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 440px) {
  .profile-grid {
    margin-left: 0%;
    margin-right: 0%;
    margin: 1rem 0; } }

.createItemGrid {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

.chooseCategory {
  margin-top: 2vh;
  font-style: italic;
  font-size: 2rem;
  text-align: center; }

.postInput {
  background-color: #878686;
  color: white;
  margin: 4vh auto 0;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 10px; }

.location {
  position: relative; }

.autocomplete-dropdown-container {
  position: absolute;
  width: 80%;
  margin: 0 10%;
  top: 40px;
  transform-origin: center;
  background-color: #878686;
  border: 1px solid white;
  border-radius: 10px; }

.createItem-input {
  background-color: #ededed;
  border-radius: 10px;
  border: 0.1% solid #5d5d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2%;
  width: 80%; }

.headerButtons.createItem {
  width: 12vw;
  height: 12vw; }

@media only screen and (max-width: 440px) {
  .chooseCategoryText {
    font-size: 1.5rem; }
  .input-labels {
    color: white; }
  .submit-application {
    margin: 20vh auto; }
  .autocomplete-dropdown-container {
    top: 30px; } }
